.xz-container {
  background-color: #d87c49;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  column-gap: 5em;
  padding: 100px 100px 0px;
}

.xzSpeaker_details h3 {
  color: white;
  font-size: 3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.xzSpeaker_details p {
  color: white;
  margin-bottom: 20px;
}

.product_view {
  background-color: black;
  color: white;
  margin-top: 20px;
}
